.side-profile {
  position: fixed;
  top: 20px;
  right: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #191919;
  border-radius: 50%;
  justify-content: center;
  transition: all 0.3s ease;
  padding: 2px;
  width: 60px; 
  height: 60px; 
  transform: translateX(50%); 
  gap: 10px;
}

.pfp-img {
  width: 60px;
  display: flex;
  align-items: center;
}

.pfp-img img {
  width: 100%;
  border-radius: 50%;
  object-fit: contain;
}

.pfp-info {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  opacity: 0;
  transition: opacity 0.2s ease;
  transition-delay: 0s;
}

.side-profile:hover {
  width: 120px;
  height: 150px;
  border-radius: 12px;
  transition-delay: 0s; 
}

.side-profile {
  transition-delay: 0.2s; 
}

.side-profile:hover .pfp-info {
  opacity: 1;
  transition-delay: 0.2s;
  /* overflow: visible; */
}



/*******  button  *******/
.boton-elegante {
  border: 2px solid #2c2c2c;
  background-color: #1a1a1a;
  color: #ffffff;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: 500;
  text-align: center;
}

.boton-elegante::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

.boton-elegante:hover::after {
  transform: scale(4);
}

.boton-elegante:hover {
  border-color: #666666;
  background: #292929;
}
